div{
  position: relative;
  width: 480px;
  height: 374px;
  }

h2,img{
  position: absolute;
  transition: 1s
  }

.chou{
  width:70px;
  height:55px;
  }

.back{
  left: 0px;
  top: 0px;
  }

.foo{
  width:30px;
  height:30px;
  }
  

#bt1{
  left: 160px;
  top: 405px;
  }

#bt2{
  left: 380px;
  top: 350px;
  }

#bt3{
  left: 595px;
  top: 435px;
  }

#f1{
  left: 370px;
  top: 190px;
  }

#f2{
  left: 370px;
  top: 270px;
  }

#f3{
  left: 500px;
  top: 260px;
  }

#f4{
  left: 580px;
  top: 200px;
  }

#f5{
  left: 700px;
  top: 270px;
  }

#txt{
  left:25px;
  top:25px; 
  background-color:rgba(154, 252, 156,0.5);
  color:#ff2bdc; 
  padding:10px; 
  }